In [39]:
from datetime import date, timedelta
import gc
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

import lightgbm as lgb

In [40]:
#reading traing data
#usecols: select the columns to include, drop the column named id
# dtype: specify the type of the data for certain series
# converters: can define a lambda function, some unit_sales is negative, so convert that to 0 if negative
# nrows: specify the number of rows to read in
# skiprows: skip over this range of rows

df_train = pd.read_csv(
    'train.csv', usecols=[1, 2, 3, 4, 5],
    dtype={'onpromotion': bool},
    converters={'unit_sales': lambda u: np.log1p(
        float(u)) if float(u) > 0 else 0},
    parse_dates=["date"],
    skiprows=range(1, 66458909)  # 2016-01-01
)
df_train.tail()

               date  store_nbr  item_nbr  unit_sales onpromotion
59038127 2017-08-15         54   2089339    1.609438       False
59038128 2017-08-15         54   2106464    0.693147        True
59038129 2017-08-15         54   2110456    5.262690       False
59038130 2017-08-15         54   2113914    5.293305        True
59038131 2017-08-15         54   2116416    1.098612       False

In [41]:
# only take training data for year of 2017
df_2017=df_train.loc[df_train.date>=pd.datetime(2017,1,1)]
df_2017.head()

               date  store_nbr  item_nbr  unit_sales onpromotion
35229871 2017-01-01         25     99197    0.693147       False
35229872 2017-01-01         25    103665    2.079442       False
35229873 2017-01-01         25    105574    0.693147       False
35229874 2017-01-01         25    105857    1.609438       False
35229875 2017-01-01         25    106716    1.098612       False

In [42]:
# free momory
del df_train

In [43]:
# Fill gaps in dates - for example a product has no report in certain store for Jan 2018, but has report
#    for other store in Jan 2018, an entry will be created for that product-store for Jan 2018
#    with value np.nan (NaN)
df_2017_reindex=df_2017.set_index(["store_nbr","item_nbr","date"])
df_2017_reindex.head()

                               unit_sales onpromotion
store_nbr item_nbr date
25        99197    2017-01-01    0.693147       False
          103665   2017-01-01    2.079442       False
          105574   2017-01-01    0.693147       False
          105857   2017-01-01    1.609438       False
          106716   2017-01-01    1.098612       False

In [44]:
# Reading test.csv data
# Same structure as
df_test=pd.read_csv('test.csv',usecols=[0,1,2,3,4],
                   dtype={'onpromotion':bool},
                    parse_dates=["date"]).set_index(['store_nbr','item_nbr', 'date'])
df_test.head()

                                      id onpromotion
store_nbr item_nbr date
1         96995    2017-08-16  125497040       False
          99197    2017-08-16  125497041       False
          103501   2017-08-16  125497042       False
          103520   2017-08-16  125497043       False
          103665   2017-08-16  125497044       False

In [45]:
#Read supplementary files items, stores
items=pd.read_csv('items.csv').set_index('item_nbr')
stores=pd.read_csv('stores.csv').set_index('store_nbr')

In [46]:
items.head()

                family  class  perishable
item_nbr
96995        GROCERY I   1093           0
99197        GROCERY I   1067           0
103501        CLEANING   3008           0
103520       GROCERY I   1028           0
103665    BREAD/BAKERY   2712           1

In [47]:
stores.head()

                    city                           state type  cluster
store_nbr
1                  Quito                       Pichincha    D       13
2                  Quito                       Pichincha    D       13
3                  Quito                       Pichincha    D        8
4                  Quito                       Pichincha    D        9
5          Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [48]:
#Encoding strings to unique numbers
items['family']=LabelEncoder().fit_transform(items['family'].values)

stores['city'] = LabelEncoder().fit_transform(stores['city'].values)
stores['state'] = LabelEncoder().fit_transform(stores['state'].values)
stores['type'] = LabelEncoder().fit_transform(stores['type'].values)

In [49]:
items.head()

          family  class  perishable
item_nbr
96995         12   1093           0
99197         12   1067           0
103501         7   3008           0
103520        12   1028           0
103665         5   2712           1

In [50]:
stores.head()

           city  state  type  cluster
store_nbr
1            18     12     3       13
2            18     12     3       13
3            18     12     3        8
4            18     12     3        9
5            21     14     3        4

In [51]:
# onpromotion columns in training datasets
promo_2017_train=df_2017_reindex[['onpromotion']]
promo_2017_train.head()

                              onpromotion
store_nbr item_nbr date
25        99197    2017-01-01       False
          103665   2017-01-01       False
          105574   2017-01-01       False
          105857   2017-01-01       False
          106716   2017-01-01       False

In [52]:
# move date index to column lables
#fill nan values with 'False'
promo_2017_train_unst=promo_2017_train.unstack(level=-1).fillna(False)
promo_2017_train_unst.head()

                   onpromotion                                              \
date                2017-01-01 2017-01-02 2017-01-03 2017-01-04 2017-01-05
store_nbr item_nbr
1         96995          False      False      False      False      False
          99197          False      False      False      False      False
          103520         False      False      False      False      False
          103665         False      False      False      False      False
          105574         False      False       True      False      False

                                                                           \
date               2017-01-06 2017-01-07 2017-01-08 2017-01-09 2017-01-10
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574         True      False      False      False      False

                      ...                                                  \
date                  ...     2017-08-06 2017-08-07 2017-08-08 2017-08-09
store_nbr item_nbr    ...
1         96995       ...          False      False      False      False
          99197       ...          False      False      False      False
          103520      ...          False      False      False      False
          103665      ...          False      False      False      False
          105574      ...          False      False      False      False

                                                                           \
date               2017-08-10 2017-08-11 2017-08-12 2017-08-13 2017-08-14
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574        False      False      False      False      False


date               2017-08-15
store_nbr item_nbr
1         96995         False
          99197         False
          103520        False
          103665        False
          105574        False

[5 rows x 227 columns]

In [53]:
#Take dates of training datasets,replace the column labels with date
promo_2017_train_unst.columns=promo_2017_train_unst.columns.get_level_values(-1)
promo_2017_train_unst.head()

date               2017-01-01 2017-01-02 2017-01-03 2017-01-04 2017-01-05  \
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574        False      False       True      False      False

date               2017-01-06 2017-01-07 2017-01-08 2017-01-09 2017-01-10  \
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574         True      False      False      False      False

date                  ...     2017-08-06 2017-08-07 2017-08-08 2017-08-09  \
store_nbr item_nbr    ...
1         96995       ...          False      False      False      False
          99197       ...          False      False      False      False
          103520      ...          False      False      False      False
          103665      ...          False      False      False      False
          105574      ...          False      False      False      False

date               2017-08-10 2017-08-11 2017-08-12 2017-08-13 2017-08-14  \
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574        False      False      False      False      False

date               2017-08-15
store_nbr item_nbr
1         96995         False
          99197         False
          103520        False
          103665        False
          105574        False

[5 rows x 227 columns]

In [54]:
# promotion data in test dataset
promo_2017_test=df_test[["onpromotion"]]
promo_2017_test.head()

                              onpromotion
store_nbr item_nbr date
1         96995    2017-08-16       False
          99197    2017-08-16       False
          103501   2017-08-16       False
          103520   2017-08-16       False
          103665   2017-08-16       False

In [55]:
promo_2017_test_unst=promo_2017_test.unstack(level=-1).fillna(False)
promo_2017_test_unst.head()

                   onpromotion                                              \
date                2017-08-16 2017-08-17 2017-08-18 2017-08-19 2017-08-20
store_nbr item_nbr
1         96995          False      False      False      False      False
          99197          False      False      False      False      False
          103501         False      False      False      False      False
          103520         False      False      False      False      False
          103665         False      False      False      False      False

                                                                           \
date               2017-08-21 2017-08-22 2017-08-23 2017-08-24 2017-08-25
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103501        False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False

                                                                           \
date               2017-08-26 2017-08-27 2017-08-28 2017-08-29 2017-08-30
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103501        False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False


date               2017-08-31
store_nbr item_nbr
1         96995         False
          99197         False
          103501        False
          103520        False
          103665        False

In [56]:
# assighn column lables with dates
promo_2017_test_unst.columns=promo_2017_test_unst.columns.get_level_values(1)

In [57]:
promo_2017_test_unst.head()

date               2017-08-16 2017-08-17 2017-08-18 2017-08-19 2017-08-20  \
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103501        False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False

date               2017-08-21 2017-08-22 2017-08-23 2017-08-24 2017-08-25  \
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103501        False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False

date               2017-08-26 2017-08-27 2017-08-28 2017-08-29 2017-08-30  \
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103501        False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False

date               2017-08-31
store_nbr item_nbr
1         96995         False
          99197         False
          103501        False
          103520        False
          103665        False

In [58]:
#Replace promo_2017_test index with the index in promo_2017_train, so train and test dataset can merge togeher later.
#If there's a new index and reindex the dataframe.by default values in the new index that do not have corresponding records in the dataframe are assigned NaN
# NaN filled with False
promo_2017_test_unst=promo_2017_test_unst.reindex(promo_2017_train_unst.index).fillna(False)

In [59]:
promo_2017_test_unst.head()

date               2017-08-16 2017-08-17 2017-08-18 2017-08-19 2017-08-20  \
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574        False      False      False      False      False

date               2017-08-21 2017-08-22 2017-08-23 2017-08-24 2017-08-25  \
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574        False      False      False      False      False

date               2017-08-26 2017-08-27 2017-08-28 2017-08-29 2017-08-30  \
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574        False      False      False      False      False

date               2017-08-31
store_nbr item_nbr
1         96995         False
          99197         False
          103520        False
          103665        False
          105574        False

In [60]:
#generate promotion information from 2017-1-1 to 2017-8-31
promo_2017=pd.concat([promo_2017_train_unst,promo_2017_test_unst],axis=1)
promo_2017.head()

date               2017-01-01 2017-01-02 2017-01-03 2017-01-04 2017-01-05  \
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574        False      False       True      False      False

date               2017-01-06 2017-01-07 2017-01-08 2017-01-09 2017-01-10  \
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574         True      False      False      False      False

date                  ...     2017-08-22 2017-08-23 2017-08-24 2017-08-25  \
store_nbr item_nbr    ...
1         96995       ...          False      False      False      False
          99197       ...          False      False      False      False
          103520      ...          False      False      False      False
          103665      ...          False      False      False      False
          105574      ...          False      False      False      False

date               2017-08-26 2017-08-27 2017-08-28 2017-08-29 2017-08-30  \
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574        False      False      False      False      False

date               2017-08-31
store_nbr item_nbr
1         96995         False
          99197         False
          103520        False
          103665        False
          105574        False

[5 rows x 243 columns]

In [61]:
del promo_2017_train_unst,promo_2017_test_unst,promo_2017_test,promo_2017_train

In [62]:
#prepare dataframe of unit sales informaion: colume lables=dates
df_2017_sales=df_2017_reindex[['unit_sales']].unstack(level=-1).fillna(0)
df_2017_sales.columns=df_2017_sales.columns.get_level_values(1)
df_2017_sales.head()

date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995            0.0    0.000000    0.000000    0.000000
          99197            0.0    0.000000    1.386294    0.693147
          103520           0.0    0.693147    1.098612    0.000000
          103665           0.0    0.000000    0.000000    1.386294
          105574           0.0    0.000000    1.791759    2.564949

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000    0.000000
          99197       0.693147    0.693147    1.098612    0.000000
          103520      1.098612    1.386294    0.693147    0.000000
          103665      1.098612    1.098612    0.693147    1.098612
          105574      2.302585    1.945910    1.609438    1.098612

date                2017-01-09  2017-01-10     ...      2017-08-06  \
store_nbr item_nbr                             ...
1         96995       0.000000    0.000000     ...        1.098612
          99197       0.000000    0.693147     ...        0.000000
          103520      0.693147    0.693147     ...        0.000000
          103665      0.000000    2.079442     ...        0.693147
          105574      1.386294    2.302585     ...        0.000000

date                2017-08-07  2017-08-08  2017-08-09  2017-08-10  \
store_nbr item_nbr
1         96995       1.098612    0.000000    0.000000    0.693147
          99197       1.098612    0.000000    1.098612    0.000000
          103520      0.000000    1.386294    0.000000    1.386294
          103665      1.098612    0.000000    2.079442    2.302585
          105574      1.791759    2.079442    1.945910    2.397895

date                2017-08-11  2017-08-12  2017-08-13  2017-08-14  2017-08-15
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000    0.000000    0.000000
          99197       0.000000    0.000000    0.000000    0.000000    0.000000
          103520      0.693147    0.693147    0.693147    0.000000    0.000000
          103665      1.098612    0.000000    0.000000    0.693147    0.693147
          105574      1.791759    1.791759    0.000000    1.386294    1.609438

[5 rows x 227 columns]

In [63]:
#reindex items and stores to prepare to adjust with df_2017_sales datframe
items = items.reindex(df_2017_sales.index.get_level_values(1))
stores = stores.reindex(df_2017_sales.index.get_level_values(0))

In [64]:
items.head()

          family  class  perishable
item_nbr
96995         12   1093           0
99197         12   1067           0
103520        12   1028           0
103665         5   2712           1
105574        12   1045           0

items.shape

In [65]:
stores.head()

           city  state  type  cluster
store_nbr
1            18     12     3       13
1            18     12     3       13
1            18     12     3       13
1            18     12     3       13
1            18     12     3       13

In [66]:
#define a function
def get_timespan(df, dt, minus, periods, freq='D'):
    return df[pd.date_range(dt-timedelta(days=minus), periods=periods, freq=freq)]
def prepare_dataset(df, promo_df, t2017, is_train=True):
    X=pd.DataFrame({
        'family': items['family'].values,
        'class': items['class'].values,
        'perishable': items['perishable'].values,
        
        'day_1_2017': get_timespan(df_2017_sales, t2017, 1, 1).values.ravel(), # the sales at the date t2017 
        'mean_3_2017': get_timespan(df_2017_sales, t2017, 3, 3).mean(axis=1).values, # the mean sales during 3 days of periods before t2017
        'mean_7_2017': get_timespan(df_2017_sales, t2017, 7, 7).mean(axis=1).values, # the mean sales during 1 week of periods before t2017
        'mean_14_2017': get_timespan(df_2017_sales, t2017, 14, 14).mean(axis=1).values,# the mean sales during 2 weeks of periods before t2017
        'mean_28_2017': get_timespan(df_2017_sales, t2017, 28, 28).mean(axis=1).values, # the mean sales during 4 weeks of periods before t2017
        'mean_63_2017': get_timespan(df_2017_sales, t2017, 63, 63).mean(axis=1).values, # the mean sales during 3 months of periods before t2017
        'mean_140_2017': get_timespan(df_2017_sales, t2017, 140, 140).mean(axis=1).values, # the mean sales during 140 days of periods before t2017
        
        "median_3_2017": get_timespan(df_2017_sales, t2017, 3, 3).median(axis=1).values, # the median values of sales during 3 days of periods before t2017
        "median_7_2017": get_timespan(df_2017_sales, t2017, 7, 7).median(axis=1).values,  # the median values of sales during 1 week  of periods before t2017
        "median_14_2017": get_timespan(df_2017_sales, t2017, 14, 14).median(axis=1).values, # the median values of sales during 2 week  of periods before t2017
        "median_28_2017": get_timespan(df_2017_sales, t2017, 28, 28).median(axis=1).values, # the median values of sales during 4 week  of periods before t2017
        "median_63_2017": get_timespan(df_2017_sales, t2017, 63, 63).median(axis=1).values, # the median values of sales during 3 months of periods before t2017
        "median_140_2017": get_timespan(df_2017_sales, t2017, 140, 140).median(axis=1).values, # the median values of sales during 140 days of periods before t2017

        "promo_14_2017":get_timespan(promo_2017, t2017, 14, 14).sum(axis=1).values, #total promotion for 14 dyas before the date of t2017 
        "promo_63_2017":get_timespan(promo_2017, t2017, 63, 63).sum(axis=1).values, #total promotion for 60 dyas before the date of t2017
        "promo_140_2017":get_timespan(promo_2017, t2017, 140, 140).sum(axis=1).values, #total promotion for 140 dyas before the date of t2017
    })
    
    for i in range(7):
        X['mean_4_dow{}_2017'.format(i)]=get_timespan(df_2017_sales, t2017, 28-i, 4, freq='7D').mean(axis=1).values # Mean sales every day of week in a month (e.g.,mean sales in every Wednesday, Thursday,...Tuesday in May)
        X['min_4_dow{}_2017'.format(i)]=get_timespan(df_2017_sales, t2017, 28-i, 4, freq='7D').min(axis=1).values # Minium sales every day of week in a month (e.g.,minimum sales in every Wednesday, Thursday,...Tuesday in May)
        X['max_4_dow{}_2017'.format(i)]=get_timespan(df_2017_sales, t2017, 28-i, 4, freq='7D').max(axis=1).values # Maximum sales every day of week in a month (e.g.,maximum sales in every Wednesday, Thursday,...Tuesday in May)
        X['mean_20_dow{}_2017'.format(i)]=get_timespan(df_2017_sales, t2017, 140-i, 20, freq='7D').mean(axis=1).values # Mean sales every day of week in 5 months(140 days) (e.g.,mean sales in every Wednesday, Thursday,...Tuesday from January to May)
        X['min_20_dow{}_2017'.format(i)]=get_timespan(df_2017_sales, t2017, 140-i, 20, freq='7D').min(axis=1).values  # Minimum sales every day of week in 5 months (140 days) (e.g.minimum sales in every Wednesday, Thursday,...Tuesday from January to May)
        X['max_20_dow{}_2017'.format(i)]=get_timespan(df_2017_sales, t2017, 140-i, 20, freq='7D').max(axis=1).values # Maximum sales every day of week in 5 months (140 days) (e.g.,maximum sales in every Wednesday, Thursday,...Tuesday from January to May)
    
    for i in range(16):
        X['promo_{}'.format(i)]=promo_2017[t2017+timedelta(days=i)].values.astype(np.uint8) #promotion info for the 16 days period after the t2017      
    if is_train:
        y=df_2017_sales[pd.date_range(t2017,periods=16)].values # output values for training, 16 columns for 16 days
        return X,y
    return X

In [67]:
print('Preparing dataset....')
t2017=date(2017, 6, 14)
num_days=6

#preparing the training data
X_l,y_l=[],[]
for i in range(num_days):
    X_tmp,y_tmp=prepare_dataset(df_2017_sales,promo_2017,t2017+timedelta(days=7*i)) # t2017= include the dates every week after the date of 06/14/2017 for 5 weeks.
    X_l.append(X_tmp)
    y_l.append(y_tmp)   
X_train=pd.concat(X_l,axis=0) 
y_train=np.concatenate(y_l,axis=0) #Every (repeated 6 iteration) matrix of X_train is corresponde to the y_train, which is 16 days of unit_sales after t2017

Preparing dataset....

In [68]:
del X_l, y_l

In [69]:
#Validation set unit sales from 2017-7-26 to 2017-8-15
X_val,y_val=prepare_dataset(df_2017_sales, promo_2017,date(2017,7,26))

In [70]:
X_test = prepare_dataset(df_2017_sales, promo_2017, date(2017, 8, 16), is_train=False)

In [71]:
#Set up the lgbm model 
print("Training and predicting models...")
params = {
    'num_leaves': 80,
    'objective': 'regression',
    'min_data_in_leaf': 200,
    'learning_rate': 0.02,
    'feature_fraction': 0.8,
    'bagging_fraction': 0.7,
    'bagging_freq': 1,
    'metric': 'l2',
    'num_threads': 16
}

MAX_ROUNDS = 5000
val_pred = []
test_pred = []
cate_vars = []

for i in range(16):
    print("=" * 50)
    print("Step %d" % (i+1))
    print("=" * 50)
    dtrain = lgb.Dataset(
        X_train, label=y_train[:, i],
        categorical_feature=cate_vars,
        weight=pd.concat([items["perishable"]] * num_days) * 0.25 + 1
    )
    dval = lgb.Dataset(
        X_val, label=y_val[:, i], reference=dtrain,
        weight=items["perishable"] * 0.25 + 1,
        categorical_feature=cate_vars)
    bst = lgb.train(
        params, dtrain, num_boost_round=MAX_ROUNDS,
        valid_sets=[dtrain, dval], early_stopping_rounds=50, verbose_eval=100
    )
    print("\n".join(("%s: %.2f" % x) for x in sorted(
        zip(X_train.columns, bst.feature_importance("gain")),
        key=lambda x: x[1], reverse=True
    )))
    #validation dataset from train.csv predicted by trained model
    val_pred.append(bst.predict(
        X_val, num_iteration=bst.best_iteration or MAX_ROUNDS))
    #Test dataset from test.csv predicted by trained model
    test_pred.append(bst.predict(
        X_test, num_iteration=bst.best_iteration or MAX_ROUNDS))

Training and predicting models...
==================================================
Step 1
==================================================

C:\Users\ooppa\Anaconda3\lib\site-packages\lightgbm\basic.py:1005: UserWarning: Using categorical_feature in Dataset.
  warnings.warn('Using categorical_feature in Dataset.')

Training until validation scores don't improve for 50 rounds.
[100]	training's l2: 0.317148	valid_1's l2: 0.312638
[200]	training's l2: 0.293726	valid_1's l2: 0.292204
[300]	training's l2: 0.289278	valid_1's l2: 0.289434
[400]	training's l2: 0.286857	valid_1's l2: 0.288519
[500]	training's l2: 0.285114	valid_1's l2: 0.288081
[600]	training's l2: 0.283586	valid_1's l2: 0.287803
[700]	training's l2: 0.282223	valid_1's l2: 0.287666
[800]	training's l2: 0.280913	valid_1's l2: 0.287497
[900]	training's l2: 0.279686	valid_1's l2: 0.287388
[1000]	training's l2: 0.27851	valid_1's l2: 0.287291
[1100]	training's l2: 0.277359	valid_1's l2: 0.287254
[1200]	training's l2: 0.276266	valid_1's l2: 0.287199
[1300]	training's l2: 0.275199	valid_1's l2: 0.28716
[1400]	training's l2: 0.274156	valid_1's l2: 0.287105
[1500]	training's l2: 0.273139	valid_1's l2: 0.287064
[1600]	training's l2: 0.272133	valid_1's l2: 0.287005
Early stopping, best iteration is:
[1612]	training's l2: 0.27201	valid_1's l2: 0.286996
mean_7_2017: 8331994.87
mean_14_2017: 4015873.80
median_14_2017: 622634.06
promo_0: 450283.37
median_7_2017: 373543.47
mean_20_dow0_2017: 266905.24
mean_28_2017: 247334.71
day_1_2017: 186949.04
mean_4_dow0_2017: 146794.85
mean_63_2017: 137524.93
mean_3_2017: 119050.52
promo_14_2017: 110277.31
median_63_2017: 48607.26
median_3_2017: 47030.83
median_28_2017: 40484.23
class: 38607.30
promo_7: 38059.66
max_20_dow0_2017: 35340.01
max_4_dow0_2017: 34556.44
min_4_dow0_2017: 34139.53
family: 32417.66
mean_140_2017: 28198.77
promo_140_2017: 24710.27
mean_20_dow4_2017: 23833.20
promo_63_2017: 23034.30
mean_4_dow5_2017: 21108.77
max_4_dow5_2017: 17503.97
mean_20_dow2_2017: 16696.10
mean_4_dow6_2017: 15644.18
promo_3: 15111.84
max_4_dow6_2017: 14806.17
max_20_dow4_2017: 14194.77
max_4_dow2_2017: 13734.53
max_20_dow2_2017: 13415.41
promo_14: 13403.77
mean_4_dow2_2017: 12999.42
mean_20_dow6_2017: 12323.45
max_20_dow3_2017: 12043.00
max_20_dow5_2017: 11678.23
mean_20_dow1_2017: 11334.09
mean_4_dow1_2017: 11194.94
mean_4_dow4_2017: 11116.81
max_4_dow4_2017: 11113.95
mean_20_dow3_2017: 10968.69
max_4_dow1_2017: 10936.40
max_20_dow6_2017: 10894.85
mean_20_dow5_2017: 10886.40
mean_4_dow3_2017: 10863.51
max_4_dow3_2017: 10294.65
max_20_dow1_2017: 9766.65
perishable: 9456.86
median_140_2017: 9142.51
min_4_dow4_2017: 8632.12
promo_6: 7929.46
promo_13: 7259.20
min_4_dow2_2017: 6924.93
min_4_dow6_2017: 6829.69
min_4_dow5_2017: 5632.53
min_4_dow3_2017: 5606.27
min_4_dow1_2017: 5402.17
promo_15: 5068.47
promo_1: 4991.70
promo_4: 4905.29
promo_9: 4237.85
promo_2: 3676.25
promo_5: 3178.80
min_20_dow4_2017: 2393.61
min_20_dow3_2017: 2236.41
min_20_dow0_2017: 1928.19
min_20_dow2_2017: 1450.59
promo_11: 1357.93
min_20_dow1_2017: 1148.91
min_20_dow6_2017: 1147.77
min_20_dow5_2017: 1028.06
promo_12: 741.27
promo_10: 611.52
promo_8: 498.62
==================================================
Step 2
==================================================
Training until validation scores don't improve for 50 rounds.
[100]	training's l2: 0.334132	valid_1's l2: 0.342118
[200]	training's l2: 0.315102	valid_1's l2: 0.324105
[300]	training's l2: 0.310995	valid_1's l2: 0.320826
[400]	training's l2: 0.308458	valid_1's l2: 0.319495
[500]	training's l2: 0.306606	valid_1's l2: 0.31902
[600]	training's l2: 0.304937	valid_1's l2: 0.318703
[700]	training's l2: 0.30347	valid_1's l2: 0.318569
[800]	training's l2: 0.302064	valid_1's l2: 0.318392
[900]	training's l2: 0.300741	valid_1's l2: 0.3183
[1000]	training's l2: 0.29947	valid_1's l2: 0.318205
[1100]	training's l2: 0.298227	valid_1's l2: 0.318181
[1200]	training's l2: 0.297031	valid_1's l2: 0.318101
Early stopping, best iteration is:
[1215]	training's l2: 0.296848	valid_1's l2: 0.318076
mean_14_2017: 5606305.14
mean_7_2017: 4727119.92
mean_28_2017: 455116.20
median_14_2017: 439431.82
promo_1: 312769.39
median_7_2017: 300794.17
mean_20_dow1_2017: 199035.05
median_63_2017: 191212.06
promo_14_2017: 104141.15
mean_63_2017: 101978.31
mean_4_dow1_2017: 67664.87
mean_3_2017: 67274.78
day_1_2017: 56332.68
median_28_2017: 32573.39
promo_3: 30613.64
class: 29805.25
promo_63_2017: 23678.39
mean_20_dow2_2017: 23481.72
max_4_dow1_2017: 23056.85
mean_140_2017: 22104.70
mean_20_dow4_2017: 20649.57
mean_4_dow6_2017: 20228.08
median_3_2017: 20122.18
max_20_dow1_2017: 19479.11
promo_140_2017: 17715.52
promo_0: 16632.26
min_4_dow1_2017: 15989.63
max_20_dow4_2017: 15155.74
family: 14230.43
promo_4: 14010.00
max_4_dow2_2017: 13680.78
promo_5: 13548.11
max_20_dow6_2017: 12501.46
mean_4_dow2_2017: 12114.98
median_140_2017: 11831.77
max_4_dow6_2017: 11819.17
max_20_dow2_2017: 11577.89
max_4_dow3_2017: 11432.25
max_20_dow5_2017: 11247.28
max_20_dow3_2017: 11135.44
mean_4_dow4_2017: 10852.31
mean_20_dow0_2017: 10787.38
max_4_dow0_2017: 10744.08
mean_4_dow0_2017: 10680.53
max_4_dow5_2017: 10506.04
mean_20_dow6_2017: 10218.87
mean_4_dow5_2017: 10098.78
max_20_dow0_2017: 10088.97
max_4_dow4_2017: 9737.80
mean_4_dow3_2017: 9617.77
mean_20_dow5_2017: 9112.41
promo_2: 7763.05
mean_20_dow3_2017: 7393.08
min_4_dow6_2017: 6774.16
min_4_dow2_2017: 6345.94
min_4_dow4_2017: 6046.59
promo_6: 5640.16
min_4_dow3_2017: 5341.22
min_4_dow5_2017: 4714.65
perishable: 4491.84
min_4_dow0_2017: 4452.66
promo_7: 2508.61
min_20_dow4_2017: 2327.41
min_20_dow3_2017: 2061.00
promo_13: 1907.25
promo_14: 1843.94
min_20_dow0_2017: 1804.88
min_20_dow1_2017: 1733.81
promo_8: 1673.12
min_20_dow2_2017: 1430.00
min_20_dow6_2017: 1264.63
promo_9: 1215.28
promo_11: 1065.59
promo_15: 972.05
min_20_dow5_2017: 953.74
promo_10: 494.53
promo_12: 470.42
==================================================
Step 3
==================================================
Training until validation scores don't improve for 50 rounds.
[100]	training's l2: 0.343048	valid_1's l2: 0.363587
[200]	training's l2: 0.318706	valid_1's l2: 0.339701
[300]	training's l2: 0.312886	valid_1's l2: 0.335983
[400]	training's l2: 0.309636	valid_1's l2: 0.334929
[500]	training's l2: 0.307441	valid_1's l2: 0.334415
[600]	training's l2: 0.30558	valid_1's l2: 0.3342
[700]	training's l2: 0.303913	valid_1's l2: 0.333986
[800]	training's l2: 0.30241	valid_1's l2: 0.333861
Early stopping, best iteration is:
[818]	training's l2: 0.302149	valid_1's l2: 0.333833
mean_14_2017: 6167488.78
mean_7_2017: 4929648.74
mean_4_dow2_2017: 801571.45
mean_20_dow2_2017: 782857.30
mean_28_2017: 633422.60
median_14_2017: 436837.02
promo_2: 407321.87
median_7_2017: 165684.68
promo_14_2017: 102859.64
class: 62869.17
mean_63_2017: 60234.65
median_63_2017: 59975.20
mean_3_2017: 57074.78
max_4_dow2_2017: 47019.32
min_4_dow2_2017: 44604.95
promo_140_2017: 38447.68
promo_3: 34100.41
day_1_2017: 34055.24
max_20_dow2_2017: 31041.54
promo_63_2017: 28775.60
promo_9: 28299.49
mean_20_dow4_2017: 23646.58
family: 23092.63
median_28_2017: 17048.19
promo_5: 16291.89
max_4_dow3_2017: 15064.55
promo_1: 14837.63
mean_20_dow1_2017: 14665.63
promo_4: 14660.64
median_3_2017: 13784.19
promo_0: 13445.74
max_20_dow3_2017: 12862.07
mean_20_dow5_2017: 12852.71
max_4_dow1_2017: 12697.10
max_20_dow4_2017: 12435.38
median_140_2017: 11688.32
mean_4_dow3_2017: 10301.86
mean_4_dow1_2017: 10282.39
max_20_dow0_2017: 10250.35
promo_7: 9582.39
max_20_dow5_2017: 9212.42
max_4_dow5_2017: 9166.46
mean_140_2017: 8643.53
mean_20_dow0_2017: 8283.76
mean_4_dow0_2017: 8258.08
max_20_dow6_2017: 7724.19
max_4_dow4_2017: 7570.18
max_4_dow0_2017: 7520.31
max_20_dow1_2017: 7465.33
mean_20_dow6_2017: 7318.22
max_4_dow6_2017: 6714.01
min_4_dow3_2017: 6435.34
mean_20_dow3_2017: 6066.66
perishable: 6034.78
mean_4_dow4_2017: 6023.85
mean_4_dow6_2017: 5993.23
promo_6: 5729.21
mean_4_dow5_2017: 5683.52
promo_14: 4698.25
promo_11: 4192.81
min_4_dow1_2017: 4021.76
min_4_dow4_2017: 3883.02
promo_15: 3375.37
min_4_dow0_2017: 3308.10
min_4_dow6_2017: 3176.24
promo_13: 3173.53
promo_10: 3154.64
min_20_dow3_2017: 2354.17
promo_12: 2151.71
min_4_dow5_2017: 2084.79
min_20_dow2_2017: 1900.27
promo_8: 1742.18
min_20_dow4_2017: 1379.88
min_20_dow0_2017: 958.76
min_20_dow1_2017: 904.57
min_20_dow6_2017: 550.45
min_20_dow5_2017: 335.46
==================================================
Step 4
==================================================
Training until validation scores don't improve for 50 rounds.
[100]	training's l2: 0.369606	valid_1's l2: 0.374922
[200]	training's l2: 0.344734	valid_1's l2: 0.3527
[300]	training's l2: 0.339162	valid_1's l2: 0.348963
[400]	training's l2: 0.335575	valid_1's l2: 0.347108
[500]	training's l2: 0.333134	valid_1's l2: 0.346457
[600]	training's l2: 0.331173	valid_1's l2: 0.346095
[700]	training's l2: 0.329448	valid_1's l2: 0.345934
[800]	training's l2: 0.327851	valid_1's l2: 0.345756
[900]	training's l2: 0.326345	valid_1's l2: 0.345604
[1000]	training's l2: 0.324882	valid_1's l2: 0.345518
[1100]	training's l2: 0.323463	valid_1's l2: 0.345393
[1200]	training's l2: 0.322125	valid_1's l2: 0.34531
[1300]	training's l2: 0.320821	valid_1's l2: 0.345248
Early stopping, best iteration is:
[1305]	training's l2: 0.320751	valid_1's l2: 0.345235
mean_14_2017: 7924753.94
mean_7_2017: 4150822.93
mean_28_2017: 2711613.90
mean_4_dow3_2017: 627184.54
mean_20_dow3_2017: 551268.10
promo_3: 299017.11
mean_63_2017: 229588.33
mean_3_2017: 114029.17
promo_14_2017: 96113.78
median_63_2017: 91974.52
class: 44619.24
median_7_2017: 43965.90
max_4_dow3_2017: 39135.98
mean_140_2017: 32250.46
max_4_dow4_2017: 31907.29
day_1_2017: 31282.76
promo_140_2017: 30035.12
mean_4_dow2_2017: 26468.19
max_20_dow3_2017: 26371.59
promo_5: 25850.71
promo_63_2017: 25492.61
mean_4_dow4_2017: 24907.57
promo_4: 23287.13
family: 22675.26
mean_20_dow5_2017: 21302.01
min_4_dow3_2017: 19553.75
mean_20_dow2_2017: 18300.79
median_140_2017: 16821.47
promo_2: 16224.35
median_3_2017: 16223.95
max_20_dow4_2017: 15886.27
max_4_dow2_2017: 15497.95
median_14_2017: 14852.22
promo_0: 14380.51
mean_20_dow6_2017: 14169.91
mean_20_dow0_2017: 13766.98
promo_7: 13585.51
promo_6: 13248.98
max_20_dow6_2017: 13238.22
mean_20_dow4_2017: 13042.98
max_20_dow0_2017: 12761.79
max_20_dow2_2017: 12704.81
mean_4_dow0_2017: 12205.10
max_4_dow0_2017: 11595.16
mean_4_dow5_2017: 11472.42
mean_4_dow6_2017: 11439.43
max_20_dow5_2017: 11372.87
max_4_dow6_2017: 11125.36
min_4_dow4_2017: 10797.60
mean_4_dow1_2017: 10750.92
promo_1: 10740.63
max_4_dow5_2017: 10486.51
mean_20_dow1_2017: 10327.09
max_4_dow1_2017: 9835.13
max_20_dow1_2017: 9631.88
median_28_2017: 9273.59
min_4_dow2_2017: 6385.69
min_4_dow6_2017: 4423.28
perishable: 3776.55
min_4_dow5_2017: 3773.59
min_20_dow3_2017: 3772.47
promo_14: 3762.44
promo_9: 3624.57
min_4_dow0_2017: 3477.26
min_4_dow1_2017: 3412.75
promo_10: 2868.02
promo_8: 2843.66
promo_13: 2182.37
promo_15: 2019.30
min_20_dow4_2017: 1463.67
promo_12: 1408.37
min_20_dow0_2017: 1335.58
min_20_dow1_2017: 1296.28
min_20_dow2_2017: 1186.85
promo_11: 949.53
min_20_dow6_2017: 849.33
min_20_dow5_2017: 840.16
==================================================
Step 5
==================================================
Training until validation scores don't improve for 50 rounds.
[100]	training's l2: 0.380254	valid_1's l2: 0.382352
[200]	training's l2: 0.353141	valid_1's l2: 0.356627
[300]	training's l2: 0.34691	valid_1's l2: 0.352239
[400]	training's l2: 0.343231	valid_1's l2: 0.350364
[500]	training's l2: 0.340731	valid_1's l2: 0.349598
[600]	training's l2: 0.338586	valid_1's l2: 0.349059
[700]	training's l2: 0.336702	valid_1's l2: 0.34876
[800]	training's l2: 0.334971	valid_1's l2: 0.348592
[900]	training's l2: 0.333313	valid_1's l2: 0.348389
[1000]	training's l2: 0.331727	valid_1's l2: 0.348219
[1100]	training's l2: 0.330149	valid_1's l2: 0.348044
[1200]	training's l2: 0.328725	valid_1's l2: 0.347975
[1300]	training's l2: 0.327353	valid_1's l2: 0.347932
Early stopping, best iteration is:
[1259]	training's l2: 0.327908	valid_1's l2: 0.347917
mean_14_2017: 6278406.84
mean_4_dow4_2017: 4331352.40
mean_28_2017: 2770514.22
mean_7_2017: 2124869.21
mean_20_dow4_2017: 871734.71
mean_3_2017: 588373.54
promo_4: 310604.30
max_4_dow4_2017: 101128.15
mean_63_2017: 96185.52
mean_4_dow3_2017: 83343.48
promo_14_2017: 81807.24
max_20_dow4_2017: 65880.78
class: 53821.74
median_3_2017: 52513.69
median_7_2017: 45510.97
median_63_2017: 39214.93
min_4_dow4_2017: 35823.06
promo_5: 33941.42
family: 30539.46
promo_3: 28737.92
promo_63_2017: 26334.38
promo_140_2017: 25146.89
max_4_dow3_2017: 23462.23
promo_7: 22258.63
promo_6: 19973.68
median_140_2017: 19850.60
day_1_2017: 19478.09
mean_140_2017: 19151.62
min_4_dow3_2017: 17338.69
mean_20_dow0_2017: 16917.23
mean_20_dow1_2017: 16046.30
max_20_dow3_2017: 16000.91
mean_20_dow3_2017: 14313.22
max_20_dow0_2017: 14218.84
promo_2: 14066.31
mean_20_dow2_2017: 13165.86
max_20_dow2_2017: 12762.17
median_14_2017: 12137.86
promo_0: 12137.68
promo_1: 12016.31
median_28_2017: 11984.63
mean_4_dow0_2017: 11765.20
mean_20_dow6_2017: 11712.88
max_20_dow6_2017: 11710.23
max_20_dow1_2017: 11082.62
mean_4_dow5_2017: 11039.61
mean_20_dow5_2017: 11023.52
max_4_dow6_2017: 10582.04
max_4_dow5_2017: 10527.56
max_4_dow0_2017: 10497.19
promo_11: 10473.30
max_4_dow2_2017: 10222.74
max_20_dow5_2017: 10086.53
mean_4_dow6_2017: 9903.56
mean_4_dow2_2017: 9677.43
mean_4_dow1_2017: 9623.69
max_4_dow1_2017: 8735.14
promo_14: 6085.53
perishable: 5630.75
min_4_dow5_2017: 4963.75
min_4_dow6_2017: 4829.39
min_4_dow0_2017: 4590.21
promo_9: 4369.30
min_4_dow2_2017: 4077.74
promo_13: 3803.62
min_4_dow1_2017: 3256.76
promo_8: 2957.09
promo_10: 2393.34
promo_12: 2266.71
min_20_dow4_2017: 1989.03
promo_15: 1880.04
min_20_dow3_2017: 1782.87
min_20_dow0_2017: 1766.23
min_20_dow2_2017: 1237.18
min_20_dow1_2017: 1232.23
min_20_dow6_2017: 873.70
min_20_dow5_2017: 756.08
==================================================
Step 6
==================================================
Training until validation scores don't improve for 50 rounds.
[100]	training's l2: 0.371632	valid_1's l2: 0.385494
[200]	training's l2: 0.349676	valid_1's l2: 0.360654
[300]	training's l2: 0.344143	valid_1's l2: 0.356078
[400]	training's l2: 0.340783	valid_1's l2: 0.35453
[500]	training's l2: 0.338481	valid_1's l2: 0.353956
[600]	training's l2: 0.336562	valid_1's l2: 0.353759
[700]	training's l2: 0.334744	valid_1's l2: 0.353478
[800]	training's l2: 0.333056	valid_1's l2: 0.353368
[900]	training's l2: 0.331538	valid_1's l2: 0.353273
[1000]	training's l2: 0.33001	valid_1's l2: 0.353184
[1100]	training's l2: 0.328596	valid_1's l2: 0.353165
Early stopping, best iteration is:
[1053]	training's l2: 0.329244	valid_1's l2: 0.353148
mean_14_2017: 6865402.64
mean_28_2017: 2754329.95
mean_7_2017: 2689394.97
mean_3_2017: 528760.70
mean_63_2017: 342219.56
promo_5: 325726.66
median_63_2017: 291253.14
mean_20_dow5_2017: 254693.18
mean_4_dow5_2017: 231525.65
promo_14_2017: 84461.73
class: 48819.35
promo_3: 40465.03
median_7_2017: 38634.18
median_3_2017: 34151.88
promo_6: 31273.46
max_4_dow5_2017: 29025.38
family: 26242.04
promo_63_2017: 25465.06
promo_7: 24564.65
mean_4_dow6_2017: 23817.31
mean_140_2017: 22521.81
mean_20_dow6_2017: 21014.63
min_4_dow5_2017: 18929.07
median_140_2017: 18402.29
median_28_2017: 18323.45
day_1_2017: 17457.84
promo_140_2017: 16887.85
max_20_dow3_2017: 16347.21
max_20_dow5_2017: 16174.21
max_20_dow4_2017: 15831.83
mean_20_dow0_2017: 13764.63
max_20_dow6_2017: 13130.50
mean_20_dow3_2017: 13058.30
max_20_dow0_2017: 12834.92
max_4_dow6_2017: 12803.19
max_4_dow4_2017: 12671.33
mean_4_dow4_2017: 11802.18
mean_20_dow2_2017: 11435.60
median_14_2017: 11407.20
max_4_dow3_2017: 10007.57
max_20_dow2_2017: 9999.94
max_4_dow2_2017: 9427.48
mean_20_dow4_2017: 9379.35
max_4_dow1_2017: 9334.11
max_4_dow0_2017: 9147.35
mean_20_dow1_2017: 9058.32
mean_4_dow2_2017: 9034.60
mean_4_dow0_2017: 8965.87
mean_4_dow3_2017: 8862.21
promo_4: 8838.81
promo_0: 8782.06
mean_4_dow1_2017: 8733.43
min_4_dow6_2017: 8485.06
max_20_dow1_2017: 7829.12
promo_9: 7550.56
promo_1: 7304.22
promo_2: 6789.61
min_4_dow4_2017: 6390.23
min_4_dow0_2017: 5036.06
promo_14: 4937.89
min_4_dow3_2017: 4882.38
promo_8: 4850.38
min_4_dow2_2017: 4208.55
min_4_dow1_2017: 4199.00
promo_12: 3030.74
perishable: 2772.47
promo_13: 2638.09
min_20_dow0_2017: 2598.32
promo_11: 2366.29
promo_10: 2213.80
min_20_dow3_2017: 2018.52
min_20_dow2_2017: 1900.96
min_20_dow4_2017: 1563.94
min_20_dow1_2017: 1337.50
min_20_dow6_2017: 1316.78
promo_15: 1288.71
min_20_dow5_2017: 974.02
==================================================
Step 7
==================================================
Training until validation scores don't improve for 50 rounds.
[100]	training's l2: 0.361737	valid_1's l2: 0.45326
[200]	training's l2: 0.339506	valid_1's l2: 0.420528
[300]	training's l2: 0.334233	valid_1's l2: 0.416414
[400]	training's l2: 0.331112	valid_1's l2: 0.415572
[500]	training's l2: 0.328962	valid_1's l2: 0.415344
Early stopping, best iteration is:
[514]	training's l2: 0.328697	valid_1's l2: 0.415268
mean_14_2017: 6473724.06
mean_28_2017: 2362547.31
mean_7_2017: 2315018.19
mean_4_dow6_2017: 570804.01
promo_6: 508172.75
mean_20_dow6_2017: 447264.55
mean_3_2017: 308750.58
mean_63_2017: 175120.23
median_63_2017: 121082.27
promo_14_2017: 83217.15
median_28_2017: 61129.23
median_3_2017: 53267.52
promo_7: 49244.62
class: 39672.13
promo_3: 39487.30
family: 38515.39
median_14_2017: 36086.37
min_4_dow6_2017: 29789.59
max_20_dow6_2017: 28326.38
mean_4_dow5_2017: 26857.75
max_4_dow6_2017: 25813.06
promo_5: 25348.58
day_1_2017: 23293.06
mean_20_dow5_2017: 23137.60
promo_63_2017: 20280.27
median_7_2017: 18389.85
mean_140_2017: 17272.33
promo_140_2017: 15372.67
median_140_2017: 14323.97
mean_20_dow1_2017: 14014.36
promo_13: 12554.37
max_4_dow5_2017: 12440.12
max_20_dow4_2017: 12104.87
max_20_dow3_2017: 11957.16
promo_0: 10028.37
mean_20_dow0_2017: 9880.55
max_20_dow5_2017: 8276.28
promo_4: 7908.36
promo_14: 7801.51
max_20_dow0_2017: 7500.04
max_4_dow3_2017: 6953.69
mean_20_dow4_2017: 6804.87
promo_9: 6716.97
promo_1: 6558.17
max_4_dow1_2017: 6261.83
mean_20_dow3_2017: 6003.75
max_4_dow4_2017: 5936.77
max_20_dow2_2017: 5286.34
max_4_dow0_2017: 5229.03
min_4_dow5_2017: 5186.29
max_20_dow1_2017: 4692.71
mean_20_dow2_2017: 4688.48
promo_2: 4512.27
mean_4_dow0_2017: 4480.68
min_4_dow1_2017: 4259.52
mean_4_dow1_2017: 4245.84
mean_4_dow4_2017: 3962.31
max_4_dow2_2017: 3790.30
promo_8: 3558.62
mean_4_dow2_2017: 3455.46
mean_4_dow3_2017: 3105.00
min_4_dow0_2017: 2991.92
min_4_dow4_2017: 2876.93
min_4_dow3_2017: 2869.77
perishable: 2179.53
min_4_dow2_2017: 2100.83
promo_11: 1623.72
promo_15: 1529.14
min_20_dow3_2017: 1133.96
promo_10: 1017.05
min_20_dow6_2017: 975.46
min_20_dow0_2017: 963.22
promo_12: 728.58
min_20_dow4_2017: 728.13
min_20_dow1_2017: 614.96
min_20_dow2_2017: 611.86
min_20_dow5_2017: 375.50
==================================================
Step 8
==================================================
Training until validation scores don't improve for 50 rounds.
[100]	training's l2: 0.348488	valid_1's l2: 0.422382
[200]	training's l2: 0.324901	valid_1's l2: 0.389258
[300]	training's l2: 0.319745	valid_1's l2: 0.38453
[400]	training's l2: 0.316762	valid_1's l2: 0.383282
[500]	training's l2: 0.314596	valid_1's l2: 0.382816
[600]	training's l2: 0.312748	valid_1's l2: 0.382515
[700]	training's l2: 0.311057	valid_1's l2: 0.382193
[800]	training's l2: 0.309462	valid_1's l2: 0.382034
[900]	training's l2: 0.307994	valid_1's l2: 0.381931
Early stopping, best iteration is:
[889]	training's l2: 0.308144	valid_1's l2: 0.381924
mean_14_2017: 5971494.05
mean_28_2017: 2852787.95
mean_7_2017: 2788032.18
promo_7: 680884.15
median_63_2017: 465167.99
mean_20_dow0_2017: 394341.14
mean_4_dow0_2017: 295583.90
mean_63_2017: 194673.80
median_7_2017: 170014.99
median_14_2017: 103387.18
promo_0: 102248.72
median_28_2017: 94339.25
class: 60251.56
promo_14: 50360.95
promo_14_2017: 48346.19
mean_3_2017: 47816.99
min_4_dow0_2017: 47586.94
max_20_dow0_2017: 47171.82
family: 45529.06
promo_63_2017: 30998.26
promo_140_2017: 29739.02
promo_6: 29282.24
day_1_2017: 27517.75
median_3_2017: 22834.51
max_4_dow0_2017: 22655.73

In [72]:
# Calculate the errors
print("Validation mse:", mean_squared_error(
    y_val, np.array(val_pred).transpose()))

weight = items["perishable"] * 0.25 + 1
err = (y_val - np.array(val_pred).transpose())**2
err = err.sum(axis=1) * weight
err = np.sqrt(err.sum() / weight.sum() / 16)
print('nwrmsle = {}'.format(err))

Validation mse: 0.355367573278
nwrmsle = 0.5956632835286029

In [76]:
# arrange the dataframe of test results
y_test = np.array(test_pred).transpose()
df_preds = pd.DataFrame(
    y_test, index=df_2017_sales.index,
    columns=pd.date_range("2017-08-16", periods=16)
).stack().to_frame("unit_sales")

In [77]:
# Prepare the submission file
print("Making submission...")
df_preds.index.set_names(["store_nbr", "item_nbr", "date"], inplace=True)
submission = df_test[["id"]].join(df_preds, how="left").fillna(0)
submission["unit_sales"] = np.clip(np.expm1(submission["unit_sales"]), 0, 1000)
submission.to_csv('lgb.csv', float_format='%.4f', index=None)

Making submission...

In [78]:
df_test.shape

(3370464, 2)